/* ICON-ms : File cũ */

.icon-default {
  background-image: url('../icons/ICON.svg');
}

.icon {
  /* Đổi màu */
  mask-image: url();
}
/* Header */

.icon-menu {
  background: url('../icons/Icon.svg') no-repeat -82px -82px;
  width: 16px;
  height: 16px;
}

/* Sidebar */
.icon-convert {
  background: url('../icons/ICON-ms.svg') no-repeat -27px -847px;
  width: 18px;
  height: 18px;
}
.icon-shopping {
  background: url('../icons/ICON-ms.svg') no-repeat -291px -411px;
  width: 19px;
  height: 18px;
}

.icon-promotion {
  background: url('../icons/ICON-ms.svg') no-repeat -302px -658px;
  width: 16px;
  height: 16px;
}

.icon-data-demo {
  background: url('../icons/Icon.svg') no-repeat -138px -527px;
  width: 17px;
  height: 17px;
}
/*  Main-content */
.icon-share {
  background: url('../icons/Icon.svg') no-repeat -2px -42px;
  width: 16px;
  height: 16px;
}
.icon-sharing-efficiency {
  background: url('../icons/ICON-ms.svg') no-repeat -4px -849px;
  width: 17px;
  height: 15px;
}
/* Đổi màu  */
.icon-share.active {
  mask: url('../icons/Icon.svg') no-repeat -2px -42px;
  background: #34b057;
  width: 16px;
  height: 16px;
}
.icon-sharing-efficiency.active {
  mask: url('../icons/ICON-ms.svg') no-repeat -4px -849px;
  background: #34b057;
  width: 17px;
  height: 15px;
}

.icon-search {
  background: url('../icons/Icon.svg') no-repeat -2px -2px;
  width: 16px;
  height: 17px;
}
.icon-copy {
  mask: url('../icons/Icon.svg') no-repeat -81px -2px;
  background: white;
  width: 17px;
  height: 16px;
}
.icon-delete {
  mask: url('../icons/Icon.svg') no-repeat -122px -22px;
  background: red;
  width: 16px;
  height: 16px;
}

/*  Hiệu quả chia sẻ */

.icon-refresh {
  background: url('../icons/Icon.svg') no-repeat -162px -22px;
  width: 16px;
  height: 16px;
}
.icon-test {
  background: url('../icons/Icon.svg') no-repeat -121px -102px;
  width: 17px;
  height: 16px;
}
